main {
  height: 110vh;
  background-color: var(--main_color);
  position: relative;
  z-index: -3;
  overflow: hidden;
}
.main_cir1 {
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  background-image: linear-gradient(transparent, #c29effe8);
  position: absolute;
  top: 200%;
  left: 200%;
  animation-name: move_1;
  animation-delay: 3.5s;
  animation-duration: 2s;
  animation-fill-mode: both;
  z-index: -2;
}
.main_cir2 {
  width: 1100px;
  height: 1100px;
  border-radius: 50%;
  background-image: linear-gradient(#c29eff, transparent);
  position: absolute;
  top: 200%;
  right: 200%;
  animation-name: move_2;
  animation-delay: 3.5s;
  animation-duration: 2s;
  animation-fill-mode: both;
  z-index: -1;
}

.main_pic2 {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 5%;
  left: 55%;
  z-index: 0;
}
.main_pic2 img {
  width: 100%;
  height: 100%;
}
main .contaniar {
  /* background-color: #fff; */
  height: 100%;
  display: flex;
  align-items: center;
}
.main_contant {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 1;
}
.main_contant p:nth-child(2) {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: var(--font_1);
}
.main_contant p:nth-child(3) {
  font-size: 4rem;
  font-weight: bold;
  font-family: var(--font_1);
}
.main_contant p:nth-child(4) {
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--font_1);
}
.main_contant p:nth-child(5) {
  font-family: var(--font_2);
  line-height: 1.3;
}
.button_contaniar {
  display: flex;
  gap: 20px;
}
.main_cri_btn_hidden {
  height: 45px;
  width: 45px;
  background-color: var(--purple);
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
  display: none;
}

@keyframes move_1 {
  to {
    top: -45%;
    left: 35%;
  }
}
@keyframes move_2 {
  to {
    top: -55%;
    left: 47%;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  main {
    height: 150vh;
    display: flex;
    flex-direction: column;
  }
  .main_cir1 {
    display: none;
  }
  .main_cir2 {
    display: none;
  }
  .main_pic2 {
    width: 600px;
    height: 400px;
    top: 5%;
    left: 5%;
    z-index: -1;
  }
  .main_cri_btn_hidden {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_contant {
    position: absolute;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 5%;
  }
  .main_contant div :nth-child(2) {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  main {
    height: 150vh;
    display: flex;
    flex-direction: column;
  }
  .main_cir1 {
    display: none;
  }
  .main_cir2 {
    display: none;
  }
  .main_pic2 {
    width: 600px;
    height: 400px;
    top: 5%;
    left: 18%;
    z-index: -1;
  }
  .main_cri_btn_hidden {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_contant {
    position: absolute;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 20%;
  }
  .main_contant div :nth-child(2) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .main_cir1 {
    top: -45%;
    left: 50%;
  }
  .main_cir2 {
    top: -55%;
    left: 65%;
  }
  .main_pic2 {
    top: 5%;
    left: 40%;
    z-index: -1;
  }
}
